.site-footer {
  @extend %padding-small;
  background-image: linear-gradient( rgba(0,0,255,0), $link-color);
  display: inline-block;
  width: 100%;
  font-size: 0.9em;
  bottom: 0;
}

.footertext {
  display: flex;
  flex-flow: column nowrap;
  @media (min-width: 1000px) {
    flex-direction: row;
    justify-content:space-between;
  }
}