// Typography
$font-family-main: 'Plus Jakarta Sans', Helvetica, Arial, sans-serif !default;
$font-family-headings: 'Plus Jakarta Sans', Helvetica, Arial, sans-serif !default;
$font-size: 1.10em !default;

// Padding
$padding-large: 35% !default;
$padding-small: 5% !default;
$padding-x-small: 3% !default;

// Brand colours
$brand-color: #000 !default;
$background-color: #000 !default;
$svg-color: #383838;
$border-color: #fff !default; // rgba recommended if using feature images

// Typography colours
$text-color: #fff !default;
$link-color: #00f !default;
$selection-color: #D4D4D4 !default; // visible when highlighting text

// Header colours
$header-link-color: #fff !default;

// Feature image for articles
$feature-image-text-color: #fff !default;
$feature-image-background: linear-gradient( $link-color, $background-color);
$feature-image-size: cover !default;

// Header description box
$header-desc-background-color: #000 !default;
$header-desc-text-color: #fff !default;
$header-desc-link-color: #00f !default;
